@model IEnumerable<LanchesVendas.Models.Pedido>

@{
    ViewData["Title"] = "Pedidos";
}

<h1>Pedidos</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Criar Novo</a>
</p>
<table class="table table-hover" style="margin-bottom:200px;text-align:center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteSobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDePedidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoEnviado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoEntregue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="vertical-align:middle">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteSobrenome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalDePedidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PedidoTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PedidoEnviado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PedidoEntregue)
                </td>
                <td>
                    <div class="container">
                        <div class="row">
                            <a class="btn btn-success" asp-action="Details" asp-route-id="@item.PedidoId">Detalhes</a>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.PedidoId">Editar</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PedidoId">Deletar</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
