@model IEnumerable<LanchesVendas.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<h1>Categorias</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Criar nova Categoria</a>
</p>
<table class="table" style="margin-bottom:200px;text-align:center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaDescricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="vertical-align:middle">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaDescricao)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.CategoriaId">Detalhes</a> |
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.CategoriaId">Editar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CategoriaId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
